/* 

@media only screen and (max-width: 768px){
    nav{
        width: 100%;
    }
    nav .right-section{
        display: none;
    }
    nav .phone-section{

        margin-left: 20%;
        text-align: center;
        background-color: red;
        width: 100%;
        z-index: 1;
    }
    main{
        display: flex;
        flex-wrap: wrap;
    }
    header{
    }
    .logo-section{
        display: none;
        z-index: 1;
        width: 26%;
    }
    .menu-section{
        margin-left: 55px;
        width: auto;
    }
    .menu-section :nth-child(3){
        display: none;
    }
    .menu-section :nth-child(4){
    }
    .menu-section ul li a{
        margin: 10px;
    }
    
    
}



@media only screen and (max-width: 600px) {
    header .logo-section img{
        width: 80px;
        height: 92px;
        margin: 1px 0 13px 63px;}

        header .logo-section p {
            font-size:7px ;
            margin: 1px 0 0 5px;
            color: wheat;
            font-family: monospace;
            font-stretch: extra-condensed;
            font-style: italic;
        }
        

        .menu-sectio4n{
            width: 12%;
            position: relative;
            background-color: mediumblue;
        }
        .menu-section ul{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
        }
        
        }
        .menu-section ul li a{
        text-decoration: none;
        margin: 2px;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        font-weight: lighter;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        }


      

        .slider {
            height: 25vh;
            width: 85%;
            overflow: hidden;
            margin: auto;
        }
        .slide1{
            position: absolute;
            inset: 0;
            opacity: 0;
            animation: sliding 12s infinite;
            animation-delay: 5s;
        }
        .slide1 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        
        }
        @keyframes sliding {
            30% {opacity: 1; }
        }

        /* animation section finish  */
        /* .image-text {
            position: relative;
            width: 100%;
            margin: auto;
            height: 96px;
            background-color: wheat;
            
        }
        .image-text img {
            width: 40%;
        background-color: red;
        margin-left: 180px;
        height: 200px;
        border-radius: 10px;
        background-color: yellow;
        }
        .image-text p {
            font-size: 12px;
            color: midnightblue;
          }



       .image-text1 {
    background-color: wheat;
}
.image-text1 img {
    width: 84px;
    height: 16vh;
    
}
.image-text1 p {
    margin: 0 0 0 231px;
    font-size: 12px;
    color: red;
} */
