body {
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.container{
   width: 100%;
   height: 170vh;
  background-image: url(../img/manisiddha\ new.1.jfif) ;
  background-size: cover;
}
.hero {
   width: 50%;
   height: 170vh;
   background-color:rgba(0, 0, 0, 0.5);
   margin: auto;
}
.label4 h1 {
   color: white;
   background-color: rgb(9, 31, 9);
}
.label4 h2 {
   color: white;
}
.label4 input {
   width: 250px;
   height: 35px;
   margin: 12px 0 0 44px;
}
.label4 label {
   font-size: 22px;
   color: greenyellow;
}
.ogo {
   width: 150px;
   display: flex;
}
.ogo label{
   font-size: 22px;
   color: greenyellow;
   margin: 12px;
}
.radio label {
   font-size: 26px;
   color: greenyellow;
}
.radio {
  color: white;
}

.grade label {
   font-size: 26px;
   color: greenyellow;
}
.password label {
font-size: 28px;
color: greenyellow;
}
.password input {
   width:277px;
   height: 35px;
   border-radius: 4px;
   margin: 12px;
}
.submit input {
   margin: 49px 0 0 239px;
   width: 150px;
   height: 40px;
   border-radius: 10px;
   color: white;
   background-color: lawngreen;
   font-size: 22px;
   font-weight: bold;

}
::placeholder {
   color: dimgrey;
}