body {
    padding: 0;
    margin: 0;
}
.container {
    height: 745px;
    width: 100%;
    /* position: fixed; */
    background-color: #333a56;
}
.hero{
    /* width: 10rem; */
    /* height: 200px; */
    box-shadow: 2px 6px 15px rgba(0,0,0,.3);
    /* box-shadow: 2px 6px 15px 10px ; */
    /* position: relative; */
    /* top: 300px; */
    /* left: 200px; */
    width: 27rem;
    max-width: 35.9375rem;
    margin: 0 auto 2rem;
    padding: 1.5rem 1.5rem 1rem;
    border-radius: 6px;
    position: relative;
    height: 500px;
    top: 80px;

    
   
}
.hero img{
    height: 56px;
    vertical-align: middle;
    border-style: none;
    margin: 25px 0 0 112px;
}

.container form {
    line-height: 17px;
    margin: 23px 0 0 21px;
    
}


.container label {
position: relative;
top: 10px;
color: white;
font-size: 0.9rem;
font-weight: 300;
/* font-family: "Roboto Condensed",sans-serif; */
font-family: Arial, Helvetica, sans-serif;
border: none;
}

.container input {
width: 400px;
height: 33px;
border-radius: 5px;
}

i {
    color: white;
    position: relative;
    top: 10px;
}

button  {
    background-color: #5e6ea7;
    width: 405px;
    height: 39px;
    border-radius: 6px;
    margin: 32px 0 0 21px;
    padding: 20px;
    font-size: 18px;
    border: none;
    text-align: center;


    
}
button a {
    position: relative;
    bottom: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 20px;


}

button:hover{
    /* background-color:#5e6ea7; */
    opacity: 0.4s;
}

  .hero  p{
    color: white;
    margin: 30px 0 0 150px;
}
#boi {
    color: gold;
    position: relative;
    left: 370px;
    top: 45px;
    
   
}
.container h5 {
    font-size: 15px;
    position: absolute;
    right: 590px;
    bottom: 40px;
    color: white;
}

@media screen {
    
}